* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
}

/* ====== COMMON ====== */

.break-line {
    border: 1px solid #ddd;
}

.content {
    width: 1000px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    min-width: 140px;
    border-radius: 24.5px;
    background: #171100;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 14px 26px;
}

/* ====== Header ======  */
header {
    padding: 2px 0;
    background: #fffcf4;
}

header .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

header .logo-inf {
    display: flex;
    align-items: center;
}

header .logo {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

header .desc {
    color: #171100;
    font-size: 1.3rem;
    font-weight: 700;
    /* text-shadow: 2px 2px 2px rgba(255, 185, 0, 0.6); */
}

header .btn:first-child {
    margin-right: 4px;
}

/* ======= Hero ====== */

.section-hero {
    padding: 70px 0;
    background: #fffcf4;
    /* height: calc(100vh-90px); */
}

.hero {
    /* height: calc(100vh - 91px); */
    display: flex;
    justify-content: space-between;
}

.hero .image-book {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 24px;
}

.hero .info {
    width: 470px;
    padding: 64px 0;
}

.hero .title {
    color: #171100;
    /* font-family: "Sen", sans-serif; */
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: -1.16px;
    margin-bottom: 20px;
}

.hero .desc {
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.hero .button-link {
    margin-top: 38px;
    display: flex;

    justify-content: center;
}

.hero .button-link .btn {
    border-radius: 32px;
    background: #ffb900;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
}

.hero .desc-stats {
    margin-top: 30px;
}

.hero .stats {
    /* margin-top: 20px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero .stat {
    color: #171100;
    /* font-family: Sen; */
    font-size: 4.4rem;
    font-weight: 700;
    /* line-height: 1.23; */
}

/* Introduce */

.section-intro {
    background: #fff;
    padding: 200px 0;
}

.intro .title {
    text-shadow: 2px 2px 2px rgba(255, 185, 0, 0.6);
    color: #ffb900;
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: -0.76px;
    margin-bottom: 65px;
}

.intro .intro-1 .row {
    display: flex;
    /* justify-content: space-between; */
    gap: 100px;
    align-items: center;
    /* justify-content: center; */
}

.intro .row .inf {
    width: 470px;
}

.intro .sub-title {
    margin: 28px 0;
    color: #171100;
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: -0.76px;
}

.intro .inf .desc::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #ffb900;
    border-radius: 20px;
}

.intro .inf .desc {
    position: relative;
    color: #7f5b53;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    background-color: #fffcf4;
    padding: 15px 20px 15px 40px;
    border-radius: 0 20px 20px 0;
}

.intro .image {
    width: 320px;
    height: 250px;
    object-fit: cover;
    border-radius: 16px;
    align-self: center;
}

.intro .row-1 {
    margin-bottom: 40px;
    margin-left: 20px;
}

.intro .row-2 {
    display: flex;
    flex-direction: row-reverse;
}

/* =========  resources ======= */
.section-resources {
    padding: 96px 0;
    height: 2000px;
    background: #fffcf4;
}

.section-resources .title {
    color: #130606;
    text-align: center;
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: -0.76px;
}

.section-resources .row .desc {
    width: 448px;
    margin: 16px auto;
    text-align: center;
    color: #696262;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    margin-bottom: 75px;
}

.resources-box {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 40px;
    justify-content: center;
}

.resource {
    display: flex;
    align-items: center;
    width: 48%;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    border: 3px solid transparent;
    box-shadow: 10px 10px 25px 1px rgb(181, 184, 222, 0.6);
}

.resource:hover {
    border: 3px solid #ffb900;
}

.resource .image {
    width: 35%;
    margin-right: 20px;
}

.resource .image i {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    background: #74c0fc61;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.resource .resource-title {
    color: #130606;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 0.8px;
    margin-bottom: 10px;
}

.resource .desc {
    margin-bottom: 12px;
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 26px;
}

.resource .link-cta {
    margin-bottom: 12px;
    color: orange;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.7px;
}
