* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
}

/* ====== COMMON ====== */

.break-line {
    border: 1px solid #ddd;
}

.content {
    max-width: calc(99% - 160px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    min-width: 140px;
    border-radius: 24.5px;
    background: #171100;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 14px 26px;
}

/* ====== Header ======  */
header {
    position: sticky;
    top: -10px;
    left: 0;
    z-index: 999;
    padding: 5px 0;
    background: #fffcf4;
    border-bottom: 1px solid #ccc;
}

header .bar {
    display: none;
}

header .bar i {
    font-size: 3.6rem;
    margin-left: 3px;
}

header .content {
    display: flex;
}

header .content-inf {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    width: 100%;
}

header .logo-inf {
    display: flex;
    align-items: center;
}

header .logo {
    cursor: pointer;
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin-right: 20px;
}

header .desc {
    color: #171100;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.5px;
}

header .button a:first-child {
    min-width: 140px;
    color: #000;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    margin-right: 10px;
}

header .button a:first-child:hover {
    color: #555353;
    transition: color linear 0.1s;
}

header .button .btn {
    background: #171100;
}

header .button .btn:hover {
    background: #555353;
    color: #000;
    /* border: 2px #000 solid; */
    transition: background-color linear 0.2s;
    transition: color linear 0.2s;
}

header .info-user {
    display: flex;
    justify-content: space-between;

    /* width: 12%; */
}

header .avatar-user {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-right: 12px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid lightgrey;
    text-align: center;
}

header .avatar-user i {
    font-size: 2rem;
    color: #58554e;
}

header p.name-user {
    align-self: center;
    color: #58554e;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.8px;
}

/* ================ Top button =============== */
.top {
    position: fixed;
    bottom: 10%;
    right: 1%;
    z-index: 999;
    /* opacity: 0.6; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 90%;
    background: #ffb900;
}

.top i {
    font-size: 2.2rem;
    color: white;
}

/*============= Navigation ================*/

.big {
    display: flex;
}

.section-content {
    flex: 15;
    width: 93%;
}

nav {
    min-width: 90px;
    width: 7%;
    position: sticky;
    left: 0;
    top: 81px;
    height: 500px;
    padding: 0 4px;
}

nav .private-items .item {
    margin: 3px 0;
}

nav .item {
    border-radius: 12px;
    height: 77px;
    width: 100%;
    margin-top: 4px;
    border-radius: 18px;
}

nav .item .link {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 8px;
}

nav .item:hover {
    background: #ecd0a4;
}

nav .items .icon {
    font-size: 2.2rem;
    margin-bottom: 8px;
    color: #000;
}

nav .items .subtitle {
    font-size: 1.3rem;
    color: #5f5b53;
    font-weight: 400;
    text-align: center;
    width: 100%;
}

/* ======= Hero ====== */

.section-hero {
    padding: 70px 0;
    background: #fffcf4;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.hero .image {
    width: 40%;
    max-width: 100%;
}

.hero .image-book {
    width: 100%;
    min-width: 260px;
    height: 685px;
    object-fit: cover;
    border-radius: 24px;
}

.hero .info {
    /* width: 470px; */
    width: 50%;
    max-width: 100%;
    min-width: 400px;
    padding: 64px 0;
}

.hero .title {
    color: #171100;
    /* font-family: "Sen", sans-serif; */
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: -1.16px;
    margin-bottom: 20px;
}

.hero .desc {
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.hero .button-link {
    margin-top: 38px;
    display: flex;
    justify-content: center;
}

.hero .button-link .btn-cta {
    position: relative;
    border-radius: 32px;
    background: #ffb900;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    overflow: hidden;
    border: 2px solid #ffb900;
}

.hero .button-link .btn-cta::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background: #fde49d;
    width: 10px;
    height: 10px;
    transition: all 0.4s ease-in-out;
    visibility: hidden;
    border-radius: 32px;
}

.hero .button-link .btn-cta:hover {
    border: 2px solid #ffb900;
    position: relative;
    color: #d39b08;
    z-index: 2;
}

.hero .button-link .btn-cta:hover::after {
    visibility: visible;
    z-index: -1;
    transform: scale(100) translateX(2px);
}

.hero .desc-stats {
    margin-top: 30px;
}

.hero .stats {
    /* margin-top: 20px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero .stat {
    color: #171100;
    /* font-family: Sen; */
    font-size: 4.4rem;
    font-weight: 700;
    /* line-height: 1.23; */
}

/* Introduce */

.section-intro {
    background: #fff;
    padding: 140px 0;
}

.intro .title {
    text-shadow: 2px 2px 2px rgba(255, 185, 0, 0.6);
    color: #ffb900;
    font-size: 4.8rem;
    font-weight: 700;
    letter-spacing: -0.76px;
    margin-bottom: 65px;
}

.intro .intro-1 .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro .row .inf {
    width: 55%;
}

.intro .sub-title {
    white-space: nowrap;
    margin: 28px 0;
    color: #171100;
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: -0.76px;
}

.intro .inf .desc::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #ffb900;
    border-radius: 20px;
}

.intro .inf .desc {
    position: relative;
    color: #7f5b53;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    background-color: #fffcf4;
    padding: 15px 20px 15px 40px;
    border-radius: 0 20px 20px 0;
}

.intro .image {
    width: 30%;
    height: 250px;
    object-fit: cover;
    border-radius: 16px;
    align-self: center;
}

.intro .row-1 {
    margin-bottom: 70px;
}

.intro .row-2 {
    display: flex;
    flex-direction: row-reverse;
}

/* =========  resources ======= */
.section-resources {
    padding: 96px 0;
    background: #fffcf4;
}

.section-resources .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-resources .title {
    color: #130606;
    text-align: center;
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: -0.76px;
}

.section-resources .row .desc {
    width: 486px;
    margin: 16px 0 111px;
    text-align: center;
    color: #696262;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    max-width: 100%;
}

.resources-box {
    display: flex;
    flex-wrap: wrap;
    gap: 90px 43px;
    justify-content: center;
}

.resource {
    position: relative;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 48%;
    min-width: 498px;
    background: #fff;
    padding: 32px 20px;
    border-radius: 12px;
    border: 3px solid transparent;
    box-shadow: 10px 10px 25px 1px rgb(181, 184, 222, 0.6);
    transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border: 3px solid #ffb900;

    overflow: hidden;
}

.resource:hover {
    transform: scale(1.1);
    border: 3px solid #ffb900;
}

.resource .image {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resource .image .resource-title {
    font-size: 2.2rem;
}

.resource:hover .image .resource-title {
    transform: scale(0);
}

.resource .image i {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    background: #74c0fc61;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.resource:hover .image i {
    transform: translateX(340%);
}

.resource .info {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    width: 72%;
    height: 100%;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.resource:hover .info {
    transform: rotateX(0deg);
}

.resource .resource-title {
    color: #130606;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 0.8px;
    margin-bottom: 10px;
}

.resource .desc {
    margin-bottom: 12px;
    color: #5f5b53;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 26px;
}

/* .resource .link-cta {
    margin-bottom: 12px;
    color: orange;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.7px;
} */

/* =============== Log in =============== */
/* =============== Register ============= */

section.login {
    padding: 150px 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

section.login .content {
    box-shadow: -5px -2px 65px 0px rgba(242, 142, 21, 0.75);
    padding: 50px 30px;
    border-radius: 20px;
}

section.login .title {
    margin-bottom: 50px;
    color: #171100;
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: -0.76px;
    text-shadow: 4px 4px 8px rgba(225, 106, 60, 0.52);
}

.input-group {
    margin: 20px 0;
    position: relative;
}

.input-group label {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 15px;
    pointer-events: none;
    padding: 0 5px;
    transition: all 0.5s linear;
    letter-spacing: 1px;
    font-size: 1.4rem;
}

.input-group input {
    width: 100%;
    height: 60px;
    font-size: 1.6rem;
    padding: 0 15px;
    border-radius: 12px;
    background: transparent;
    outline: none;
    border-color: rgba(242, 142, 21, 0.75);
}

.input-group input:focus ~ label,
.input-group input:valid ~ label {
    top: 0;
    background: #fff;
    font-size: 1.4rem;
    padding: 0 7px;
    border-radius: 8px;
}

.login .extra-inf {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.login .extra-inf .desc {
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
}

.login .extra-inf .link-cta {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
}

/* ============ Library ============ */

.library {
    padding: 150px 0;
}

.library .subject {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.library .subject .subject-title {
    color: #130606;
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: -0.76px;
}

.library .subject .desc {
    margin-top: 16px;
    width: 486px;
    text-align: center;
    max-width: 100%;
    color: #696262;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.search {
    margin: 75px 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}

.search .option-desc {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: -0.76px;
    min-width: 25%;
}

.search .options {
    min-width: 70%;
    display: flex;
    justify-content: start;
}

.search .option-btn + .option-btn {
    margin-left: 20px;
}

/* Tạo nút lựa chọn */
.search .option-btn {
    display: inline-block;
    min-width: 100px;
    padding: 15px 10px;
    color: #38352f;
    font-size: 1.8rem;
    font-weight: 400;
    border-radius: 999px;
    background: #ffb900;
    text-align: center;
    border: 4px solid transparent;
}

.search .option-btn:hover,
.active {
    border: 4px solid #ffc450 !important;
    color: #fff !important;
}

/* Tạo các ô nhập liệu */

.text-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.text-options .text-option {
    display: block;
    width: 50%;
    /* margin: 50px 0; */
    padding: 0.875rem;
    font-size: 1rem;
    border: 0.5px solid #f1cc88;
    border-radius: 999rem;
    box-shadow: 1.5px 3px 0 #ccc;
    transition: ease 0.25s;
    outline: none;
    height: 50px;
    font-size: 15px;
}

.text-option:focus {
    box-shadow: 5.5px 7px 0 rgba(242, 142, 21, 0.75);
}

.library .typeBook {
    margin-top: 50px;
}

.library .title {
    width: 100%;
    color: #f7f2e5;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: -0.76px;
    background-color: #fbab7e;
    background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 33%);
    padding: 20px 0 20px 20px;
    border-radius: 999px;
    transition: background-color ease 10s;
}

.library .detail {
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 70px 0;
}

.library .container {
    width: 30%;
    box-shadow: 13px 14px 40px -9px rgba(156, 123, 42, 0.75);
    border-radius: 12px;
}

.library .container .images {
    /* img là thẻ inline, nằm trong thẻ block là images => dùng thuộc tính ở dưới để căn giữa hình ảnh */
    text-align: center;
    width: 100%;
    /* padding-top: 16px; */
}

.library .info {
    padding: 16px 22px 22px;
}

.library .container .sub-title {
    color: #171100;
    font-size: 1.9rem;
    font-weight: 600;
    line-height: 1.67;
}

.library .container .desc {
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}

.library .detail .image {
    padding: 0 30px;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.library .detail .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row .star-block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.library .row .stat {
    margin-left: 6px;
    color: #fea31b;
    font-size: 1.6rem;
    font-weight: 400;
}

.library .row-2 {
    margin-top: 22px;
}

.library .row-2 .icon {
    color: #58554e;
    font-size: 1.5rem;
    font-weight: 400;
    background-color: rgba(224, 218, 210, 0.75);
    padding: 4px 8px;
    border-radius: 999px;
}

.library .like-btn {
    color: #5f5b53;
    margin-right: 4px;
    font-size: 1.9rem;
}

.library .row-2 .link-cta {
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 600;
}

.library .content > .desc {
    margin-top: 100px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ============= news =============== */

.news {
    padding: 150px 0;
    background: #fffcf4;
}

.news .subject {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.news .subject-title {
    color: #130606;
    text-align: center;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 48px; /* 126.316% */
    letter-spacing: 0.5px;
}

.news .subject .desc {
    color: #696262;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    width: 486px;
    max-width: 100%;
    margin: 20px auto;
}

.news .body {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px 0px;
}

.news .body > div {
    padding: 0 10px;
    flex-basis: 20%;
    flex-grow: 0;
    flex-shrink: 0.5;
    min-height: 270px;
    min-width: 210px;
}

.news .body .container {
    position: relative;
    padding: 50px 30px;
    text-align: center;
    box-shadow: 10px 10px 5px 0px rgba(201, 185, 185, 0.29);
    border-radius: 6px;
    height: 88%;
    background: #fff;
}

.news .body .container:hover::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    content: "";
    width: 100%;
    height: 6px;
    background: rgba(236, 172, 10, 0.75);
    border-radius: 999px;
    animation: changeBar 0.5s linear;
}

@keyframes changeBar {
    0% {
        width: 0;
    }
    20% {
        width: 20%;
    }
    40% {
        width: 40%;
    }
    60% {
        width: 60%;
    }
    80% {
        width: 80%;
    }
    100% {
        width: 100%;
    }
}

.news .icon {
    position: relative;
}

@keyframes change {
    from {
        transform: rotate(-30deg);
        background: #e5dbff;
        opacity: 0.4;
    }
    to {
        transform: rotate(330deg);
        background: #e5dbff;
        opacity: 0.4;
    }
}

.news .container:hover .block {
    animation: change 4s linear infinite;
}

.news .block {
    position: absolute;
    display: inline-block;
    width: 42%;
    height: 80px;
    background: linear-gradient(to right, white, #e5dbff);
    top: 20%;
    left: 50%;
    transform: rotate(-30deg);
    opacity: 0.5;
    border-radius: 10px;
}

.news .small-icon {
    font-size: 4rem;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: rgba(236, 172, 10, 0.75);
    z-index: 3;
}

.news .big-icon {
    position: relative;
    z-index: 2;
    font-size: 9rem;
    color: rgb(39 49 135);
}

.news .book-events .small-icon {
    top: 40%;
}

.news .update-book .small-icon {
    top: 79%;
    left: 75%;
}

.news .author .small-icon {
    top: -24%;
    left: 74%;
}

.news .blogs .small-icon {
    top: 84%;
    left: 70%;
}

.news .container .sub-title {
    color: #171100;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.75;
    margin-top: 40px;
}

.news .container .sub-title a {
    color: #171100;
}

.news .information {
    margin-top: 100px;
}

.news .information .container {
    width: 90%;
    margin: 50px auto 0;
    padding: 0 22px 0 42px;
    border-left: 1px solid #e3e6e8;
}

.news .information .detail {
    display: flex;
    position: relative;
    padding: 0 0 70px 0;
}

.news .information .detail::after {
    content: "";
    left: -47px;
    top: 0;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    background-color: #0f6c32;
    position: absolute;
    /* transform: translateX(-50%); */
}

.news .information .title {
    color: #171100;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: -0.76px;
}

.news .detail-content {
    width: 75%;
    padding: 0 40px 0 0;
}

.news .detail-content .time {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #888;
    margin-bottom: 8px;
}

.news .detail-content .title-news {
    margin: 0 0 16px 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

.news .detail-content .desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #565656;
}

.news .detail .image {
    width: 25%;
    text-align: center;
}

.news .detail img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: contain;
    transition: all 0.6s linear;
}

.news .detail img:hover {
    transform: scale(1.2);
}

.news .info + .info {
    margin-top: 70px;
}

.news .info {
    padding: 80px 0 0 0;
}

/* =========== discussion ============== */
.discussion {
    padding: 200px 0;
    background: #fffcf4;
}

.discussion .subject {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.discussion .subject-title {
    color: #130606;
    text-align: center;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 48px; /* 126.316% */
    letter-spacing: 0.5px;
}

.discussion .subject .desc {
    color: #696262;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    width: 486px;
    max-width: 100%;
    margin: 20px auto;
}

.discussion .search-inf {
    margin-top: 30px;
    display: flex;
    /* width: 100%; */
    justify-content: center;
    align-items: center;
}

.discussion .search-inf .sub {
    width: 8%;
    color: #696262;
    font-size: 1.6rem;
    font-weight: 400;
    min-width: 75px;
}

.discussion .text-options {
    width: 80%;
}

.discussion .containers {
    background: #fff;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 35px 20px;
    margin: 100px auto 0;
    border-radius: 10px;
    box-shadow: 0px 4px 31px -9px rgba(0, 0, 0, 0.4);
}

.discussion .containers h3 {
    color: #58554e;
    font-size: 2rem;
    font-weight: 600;
}

.discussion .container,
.discussion .container-result {
    display: flex;
    justify-content: space-between;
}

.discussion .image-avt {
    width: 8%;
    min-width: 79px;
}

.discussion .image-avt img {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.discussion .detail {
    width: 70%;
}

.discussion .detail .title a {
    color: #000;
    font-size: 1.6rem;
    font-weight: 600;
}

.discussion .detail .title a:hover {
    text-decoration: underline;
}

.discussion .detail .stat,
.discussion .detail .desc {
    margin-top: 6px;
    color: rgb(82, 82, 82);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.2;
}

.discussion .detail .desc {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.discussion .button {
    display: flex;
    align-items: end;
    width: 15%;
    min-width: 100px;
}
.discussion .btn-cta {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 10px 13px;
    border-radius: 3px;
    background: #ebf5ff;
    color: #0064d1;
}

.discussion .link-watch {
    width: 100%;
    text-align: center;
}

.discussion .link-cta {
    display: block;
    font-size: 1.6rem;
    padding: 15px 0;
    width: 100%;
    background: #ccc;
    color: #000;
    border-radius: 10px;
}

/* nút tham gia */
.access {
    background: #e4e6eb !important;
    color: #050505 !important;
}

/* ============= footer ============= */

footer {
    position: sticky;
    top: 0;
    left: 0;
    background: #2e2100;
    padding: 50px 0;
    z-index: 5;
}

footer .content {
    margin: 0;
    max-width: 100vw;
}

footer .inf {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

footer .inf-links {
    display: flex;
    min-width: 55%;
    justify-content: space-evenly;
}

footer .logo {
    color: #f8861a;
    font-weight: 700;
    font-size: 2.3rem;
}

footer .inf-desc {
    max-width: 25%;
}

footer .inf .desc {
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 26px;
    margin-top: 18px;
}

footer .inf-link .title {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
}

footer .links {
    margin-top: 43px;
    display: flex;
    flex-direction: column;
}

footer .inf-link .link,
footer .inf-link a {
    min-width: 82px;
    margin-top: 12px;
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
}
