* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
}

/* ====== COMMON ====== */

.break-line {
    border: 1px solid #ddd;
}

.content {
    max-width: calc(90% - 150px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    min-width: 140px;
    border-radius: 24.5px;
    background: #171100;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 14px 26px;
}

/* ====== Header ======  */
header {
    position: sticky;
    top: -10px;
    left: 0;
    z-index: 1;
    padding: 5px 0;
    background: #fffcf4;
    border-bottom: 1px solid #ccc;
}

header .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    width: 100%;
}

header .logo-inf {
    display: flex;
    align-items: center;
}

header .logo {
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin-right: 20px;
}

header .desc {
    color: #171100;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.5px;
}

header .button a:first-child {
    min-width: 140px;
    color: #000;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    margin-right: 10px;
}
/*============= Navigation ================*/

nav {
    min-width: 10%;
    position: sticky;
    left: 0;
    top: 94px;
    padding-left: 10px;
}

nav .items {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: center;
}

nav .private-items {
    position: absolute;
    top: 245px;
}

nav .private-items .item {
    margin: 3px 0;
    /* animation: changeBorderColor 3s ease-in-out infinite; */
}

/* @keyframes changeBorderColor {
    0% {
        border: 2px solid transparent;
    }
    15% {
        border: 2px solid #fffcf4;
    }
    55% {
        border: 2px solid #ffb900;
    }
    100% {
        border: 2px solid orange;
    }
} */

nav .item {
    border-radius: 12px;
    height: 77px;
    max-width: 80px;
    margin-top: 4px;
    border-radius: 18px;
}

nav .item .link {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 12px;
}

nav .item:hover {
    background: #ecd0a4;
}

nav .items .icon {
    font-size: 2.2rem;
    margin-bottom: 8px;
    color: #000;
}

nav .items .subtitle {
    font-size: 1.3rem;
    color: #5f5b53;
    font-weight: 400;
    text-align: center;
    width: 80px;
}

/* ======= Hero ====== */

.section-hero {
    padding: 70px 0;
    background: #fffcf4;
    /* height: calc(100vh-90px); */
}

.hero {
    /* height: calc(100vh - 91px); */
    display: flex;
    justify-content: space-between;
}

.hero .image-book {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 24px;
}

.hero .info {
    width: 470px;
    padding: 64px 0;
}

.hero .title {
    color: #171100;
    /* font-family: "Sen", sans-serif; */
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: -1.16px;
    margin-bottom: 20px;
}

.hero .desc {
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.hero .button-link {
    margin-top: 38px;
    display: flex;

    justify-content: center;
}

.hero .button-link .btn {
    border-radius: 32px;
    background: #ffb900;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
}

.hero .desc-stats {
    margin-top: 30px;
}

.hero .stats {
    /* margin-top: 20px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero .stat {
    color: #171100;
    /* font-family: Sen; */
    font-size: 4.4rem;
    font-weight: 700;
    /* line-height: 1.23; */
}

/* Introduce */

.section-intro {
    background: #fff;
    padding: 140px 0;
}

.intro .title {
    text-shadow: 2px 2px 2px rgba(255, 185, 0, 0.6);
    color: #ffb900;
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: -0.76px;
    margin-bottom: 65px;
}

.intro .intro-1 .row {
    display: flex;
    /* justify-content: space-between; */
    gap: 100px;
    align-items: center;
    /* justify-content: center; */
}

.intro .row .inf {
    width: 470px;
}

.intro .sub-title {
    margin: 28px 0;
    color: #171100;
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: -0.76px;
}

.intro .inf .desc::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #ffb900;
    border-radius: 20px;
}

.intro .inf .desc {
    position: relative;
    color: #7f5b53;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    background-color: #fffcf4;
    padding: 15px 20px 15px 40px;
    border-radius: 0 20px 20px 0;
}

.intro .image {
    width: 320px;
    height: 250px;
    object-fit: cover;
    border-radius: 16px;
    align-self: center;
}

.intro .row-1 {
    margin-bottom: 40px;
    margin-left: 20px;
}

.intro .row-2 {
    display: flex;
    flex-direction: row-reverse;
}

/* =========  resources ======= */
.section-resources {
    padding: 96px 0;
    background: #fffcf4;
}

.section-resources .title {
    color: #130606;
    text-align: center;
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: -0.76px;
}

.section-resources .row .desc {
    width: 448px;
    margin: 16px auto;
    text-align: center;
    color: #696262;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    margin-bottom: 75px;
}

.resources-box {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 40px;
    justify-content: center;
}

.resource {
    display: flex;
    align-items: center;
    width: 48%;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    border: 3px solid transparent;
    box-shadow: 10px 10px 25px 1px rgb(181, 184, 222, 0.6);
}

.resource:hover {
    border: 3px solid #ffb900;
}

.resource .image {
    width: 35%;
    margin-right: 20px;
}

.resource .image i {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    background: #74c0fc61;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.resource .resource-title {
    color: #130606;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 0.8px;
    margin-bottom: 10px;
}

.resource .desc {
    margin-bottom: 12px;
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 26px;
}

.resource .link-cta {
    margin-bottom: 12px;
    color: orange;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.7px;
}

/* =============== Log in =============== */
/* =============== Register ============= */

section.login {
    padding: 150px 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

section.login .content {
    box-shadow: -5px -2px 65px 0px rgba(242, 142, 21, 0.75);
    padding: 50px 30px;
    border-radius: 20px;
}

section.login .title {
    margin-bottom: 50px;
    color: #171100;
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: -0.76px;
    text-shadow: 4px 4px 8px rgba(225, 106, 60, 0.52);
}

.input-group {
    margin: 20px 0;
    position: relative;
}

.input-group label {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 15px;
    pointer-events: none;
    padding: 0 5px;
    transition: 0.5s;
    letter-spacing: 1px;
    font-size: 1.4rem;
}

.input-group input {
    width: 100%;
    height: 60px;
    font-size: 1.6rem;
    padding: 0 15px;
    border-radius: 12px;
    background: transparent;
    outline: none;
    border-color: rgba(242, 142, 21, 0.75);
}

.input-group input:focus ~ label,
.input-group input:valid ~ label {
    top: 0;
    background: #fff;
    font-size: 1.4rem;
    padding: 0 7px;
    border-radius: 8px;
}

.login .extra-inf {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.login .extra-inf .desc {
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
}

.login .extra-inf .link-cta {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
}

/* ============ Library ============ */

.library {
    padding: 150px 0;
}

.library .subject {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.library .subject .subject-title {
    color: #130606;
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: -0.76px;
}

.library .subject .desc {
    margin-top: 16px;
    width: 486px;
    text-align: center;
    max-width: 100%;
    color: #696262;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.search {
    margin: 75px 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}

.search .option-desc {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: -0.76px;
    min-width: 25%;
}

.search .options {
    min-width: 70%;
    display: flex;
    justify-content: start;
}

.search .option-btn + .option-btn {
    margin-left: 20px;
}

/* Tạo nút lựa chọn */
.search .option-btn {
    display: inline-block;
    min-width: 100px;
    padding: 15px 10px;
    color: #38352f;
    font-size: 1.8rem;
    font-weight: 400;
    border-radius: 999px;
    background: #ffb900;
    text-align: center;
    border: 4px solid transparent;
}

.search .option-btn:hover {
    border: 4px solid #ffc450;
    color: #fff;
}

/* Tạo các ô nhập liệu */

.text-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.text-options .text-option {
    display: block;
    width: 50%;
    /* margin: 50px 0; */
    padding: 0.875rem;
    font-size: 1rem;
    border: 0.5px solid #f1cc88;
    border-radius: 999rem;
    box-shadow: 1.5px 3px 0 #ccc;
    transition: ease 0.25s;
    outline: none;
    height: 50px;
    font-size: 15px;
}

.text-option:focus {
    box-shadow: 5.5px 7px 0 rgba(242, 142, 21, 0.75);
}

.library .type {
    margin-top: 50px;
}

.library .title {
    width: 100%;
    color: #f7f2e5;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: -0.76px;
    background-color: #fbab7e;
    background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 33%);
    padding: 20px 0 20px 20px;
    border-radius: 999px;
    transition: background-color ease 10s;
}

.library .detail {
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 70px 0;
}

.library .container {
    width: 30%;
    box-shadow: 13px 14px 40px -9px rgba(156, 123, 42, 0.75);
    border-radius: 12px;
}

.library .container .images {
    /* img là thẻ inline, nằm trong thẻ block là images => dùng thuộc tính ở dưới để căn giữa hình ảnh */
    text-align: center;
    /* padding-top: 16px; */
}

.library .info {
    padding: 16px 22px 22px;
}

.library .container .sub-title {
    color: #171100;
    font-size: 1.9rem;
    font-weight: 600;
    line-height: 1.67;
}

.library .container .desc {
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}

.library .detail .image {
    /* margin-left: 20px; */
    /* text-align: center; */
    width: 200px;
    height: 300px;
    object-fit: contain;
    background: orange;
}

.library .detail .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row .star-block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.library .row .stat {
    margin-left: 6px;
    color: #fea31b;
    font-size: 1.6rem;
    font-weight: 400;
}

.library .row-2 {
    margin-top: 22px;
}

.library .row-2 .icon {
    /* color: orange; */
    color: #58554e;
    font-size: 1.5rem;
    font-weight: 400;
    background-color: rgba(224, 218, 210, 0.75);
    padding: 4px 8px;
    border-radius: 999px;
}

.library .like-btn {
    color: #5f5b53;
    margin-right: 4px;
    font-size: 1.9rem;
}

.library .row-2 .link-cta {
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 600;
}

/* ============= footer ============= */

footer {
    position: sticky;
    top: 0;
    left: 0;
    background: #2e2100;
    padding: 50px 0;
}

footer .content {
    margin: 0;
    max-width: 100vw;
}

footer .inf {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

footer .inf-links {
    display: flex;
    min-width: 55%;
    justify-content: space-evenly;
}

footer .logo {
    color: #f8861a;
    font-weight: 700;
    font-size: 2.3rem;
}

footer .inf-desc {
    max-width: 25%;
}

footer .inf .desc {
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 26px;
    margin-top: 18px;
}

footer .inf-link .title {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
}

footer .links {
    margin-top: 43px;
    display: flex;
    flex-direction: column;
}

footer .inf-link .link,
footer .inf-link a {
    min-width: 82px;
    margin-top: 12px;
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
}
